
  <div class="row">
    <div class="col align-self-center">
      <img
        id="car-img"
        class="img-fluid mt-5"
        src="assets/img/Ranger.png"
        alt="Imagem de um Ford Ranger vermelho"
      />
    </div>
    <div class="col align-self-center col-right">
      <div class="row row-logo align-items-center justify-content-center">
        <img
          id="logo-img"
          class="img-fluid"
          src="assets/img/ford.png"
          alt="Imagem da logo da Ford"
        />
      </div>
      <div id="form-login" class="row row-form align-items-center justify-content-center">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

